@font-face {
    font-family: "iconfont"; /* Project id 4465082 */
    src: url('//at.alicdn.com/t/c/font_4465082_uddk2pbeoul.woff2?t=1710396375774') format('woff2'),
    url('//at.alicdn.com/t/c/font_4465082_uddk2pbeoul.woff?t=1710396375774') format('woff'),
    url('//at.alicdn.com/t/c/font_4465082_uddk2pbeoul.ttf?t=1710396375774') format('truetype');
}

.iconfont {
    font-family: "iconfont" !important;
    font-size: 16px;
    font-style: normal;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.icon-info-circle:before {
    content: "\e77e";
}

.icon-xia:before {
    content: "\e632";
}

.icon-right:before {
    content: "\e877";
}
